<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>static content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
Hello
<form action="/hotel/crawling" method="post">
    <input type="text" id="location" name="location" placeholder="장소입력">
    <input type="text" id="checkin" name="checkin" placeholder="체크인">
    <input type="text" id="checkout" name="checkout" placeholder="체크아웃">
    <input type="text" id="adult" name="adult" placeholder="성인인원">
    <input type="text" id="child" name="child" placeholder="아동인원수만큼 나이 입력(,로 구분)">
    <button type="submit">검색</button>
</form>
</body>
</html>